.cell-hoverable .non-empty-cell {
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.cell-hoverable .non-empty-cell:hover {
  background-image: none !important;
  background-color: rgb(0, 255, 13) !important;
  cursor: pointer;
}

#rcp-display table:focus {
  cursor: default;
  outline: none;
}

.dir-togglable > svg {
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease-in-out;
  -moz-transition: background-color 0.35s ease-out;
  -o-transition: background-color 0.35s ease-out;
  transition: background-color 0.35s ease-out;
}

.dir-toggled > svg {
  background-color: cadetblue;
}

.add-ass-toggle {
  background-image: none !important;
  background-color: rgb(0, 255, 13) !important;
}

.sliding-toggle {
  background-image: none !important;
  background-color: rgb(0, 255, 13) !important;
}
