.modal-spec-node {
  line-height: normal;
}

.accordion-item {
  color: black;
}

#top-modal-figure :is(table, .spec-node-inner-content) {
  margin-left: auto;
  margin-right: auto;
}

#top-modal-figure tbody {
  background-color: white;
}
